<div class="container mt-2">
  <div class="col-md-8 p-3 foo mx-auto rounded-lg text-white">
    <h3 class="text-center font-weight-bold"><%= username %> Post</h3>
<% if (query.length > 1) {%>
    <p class="text-center">Posted <%= query.length %> posts</p>
<% } else { %>
    <p class="text-center">Posted <%= query.length %> post</p>
<% } %>
  </div>
</div>
<div class="container mt-4">
  <div class="col-md-8 p-3 foo mx-auto rounded-lg text-white">
  <% for(x of query) {%>
    <div class="mb-2">
      <a href="/post/<%= x.username %>" class="foofoo font-weight-bold d-inline text-white"><%= x.username %></a>
      <span><%= moment(x.created_at).fromNow() %></span>
      <% if ( user ) { %>
        <% if(currentUser(cookies).id == x.user_id) { %>
          <div class="d-inline float-right ml-1">
            <form action="/post/<%= x.id %>/delete" method="post">
                <button type="submit" class="bar btn btn-sm bg-white">delete</button>
            </form>
          </div>
          <div class="d-inline float-right ml-1">
              <a type="submit" href="/post/<%= x.id %>/update" class="bar btn btn-sm bg-white">edit</a>
          </div>
        <% } %>
      <% } %>
      <h6 class="font-italic">“<%= x.quotes %>” - <%= x.author %></h6>
    </div>
  <% } %>
    <div class="col d-flex justify-content-center mt-4">
      <a href="#" class="bar btn btn-sm bg-white ml-1">1</a>
    </div>
  </div>
</div>
