<div class="container mt-2">
  <div class="col-md-8 p-3 foo mx-auto rounded-lg text-white">
    <h3 class="text-center font-weight-bold">Post Something</h3>
    <%= render 'form', timeline: @timeline %>
  </div>
</div>
<div class="container mt-4">
  <div class="col-md-8 p-3 foo mx-auto rounded-lg text-white">
    <% @timelines.each do |timeline| %>
    <div class="mb-2">
      <a href="#" class="foofoo font-weight-bold d-inline text-white"><%= timeline.user.username %></a>
      <% if defined?(current_user.id) %>
        <% if current_user.id == timeline.user_id %>
        <div class="d-inline float-right ml-1">
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
            <%= link_to 'Delete', timeline, method: :delete, class:"bar btn btn-sm bg-white", data: { confirm: 'Are you sure?' } %>
          </form>
        </div>
        <div class="d-inline float-right ml-1">
          <%= link_to 'Edit', edit_timeline_path(timeline), class:'bar btn btn-sm bg-white' %>
        </div>
        <% end %>
      <% end %>
      <h6 class="font-italic">“<%= timeline.quotes %>” - <%= timeline.author %></h6>
    </div>
    <% end %>
    <div class="col d-flex justify-content-center mt-4">
      <%= will_paginate @timelines %>
    </div>
  </div>
</div>
